.divisions,.stations,.hucs,.psas,.counties,.timefrequency,.timeavgoptions,.timerange,.dailyCalAll,.dailyCal,.monthlyCalAll,.monthlyCal,.gridtimespan,.landsattimespan,.modistimespan,.processtimeseries,.timeseriesoptions,.metric,.climatology,.statistic,.daytimechoice,.monthtimechoice,.displaytype,.basictimescale,.variableGrid{
    display: none;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#wrapper {
          height: 100%;
          width: 100%; 
        }


#map {
            height:100%;
            width:100%;
            position: relative;
        }
#menu {
          z-index: 100; 
          position: absolute; 
          margin: 10px 0px 0px 80px;
          background-color: #fff; 
          border: 1px #000 Solid; 
          padding: 5px;
	  align:right;
        }
#target_colorbar{
 	  #z-index: 100;
          #position: absolute;
          #margin: 10px 0px 0px 80px;
          #background-color: #fff;
          #border: 1px #000 Solid;
          #padding: 5px;
	  #width: 330px;
        }
.infowindow {
    width:500px;!important;
    height:300px;!important;
}
.noscrollbar {
line-height:1.35;
overflow:hidden;
white-space:nowrap;
}

/*----------------------------

----------------------*/
.fig {
      font-family:Arial;
      font-size:10pt;
      color:darkgray;
    }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.error {
    color:red;
    font-style:bold;
}
