<h4>EDDI </h4>
<p>
The Evaporative Demand Drought Index (EDDI, Hobbins et al., 2011) is calculated as the ratio of actual evapotranspiration to evaporative demand (Eo), but uses a physically based Eo. 
Actual evapotranspiration is obtained through remote sensing data. Evaporative demand is calculated from 
near real-time National Land Data Assimilation System (NLDAS) gridded weather data of temperature, humidity, wind speed, and downwelling shortwave radiation. 
<br><br>
The use of a physically based Eo, as opposed to a temperature based has been proven to better capture wet and dry periods at both long and short time scales due to the reliance of land surface and atmospheric feedbacks (Hobbins et al. 2012; Huntington et al., 2011; Sohrabi et al., 2012). Furthermore, it has been shown that EDDI can serve as an effective early warning signal for identifying the onset of a flash drought, and can provide valuable information as a near real-time drought monitoring tool (Hobbins et al., 2012).
</p>
