<h4>ET</h4>
<p>
Evapotranspiration(ET) expresses the exchange of mass and energy between the soil-water-vegetation system and the atmosphere. 
Potential or reference ET (ETo) is influenced by prevailing weather conditions through radiation, temperature, 
wind, and relativity humidity. 
Actual ET (ETa) is additionally affected by land cover type and condition and soil moisture. 
The ratio of ETa to ETo is one drought indicator (Anderson et al,2011) which can be obtained using remote sensing data. 
<br><br>
The ratio of actual evapotranspiration(ETa) to evaporative demand (ETo) can be used as a drought indicator (Anderson et al,2011). However, there are limitations with remote sensing such as lack of available near real-time data, and problems with satellites "seeing" the surface when cloudy conditions exist. 
</p>
