<h4>4-km METDATA</h4>
<p>
The gridded surface meteorological dataset METDATA (Abatzoglou, 2013) has a high spatial resolution (1/24-degree or approximately 4-km) and daily timescales for near-surface minimum/maximum temperature, minimum/maximum relative humidity, precipitation, downward solar radiation, wind components, and specific humidity and is available for years 1979 to the current month.<br><br>

This dataset was created by bias-correcting daily and sub-daily mesoscale reanalysis and assimilated precipitation from the NASA's North American Land Data Assimilation System (NLDAS-2, Mitchell et al., 2004) using monthly temperature, precipitation and humidity from Parameter-elevation Regressions on Independent Slopes Model (PRISM, Daly et al., 2008). The data were validated against an extensive network of weather stations including RAWS, AgriMet, AgWeatherNet, and USHCN-2 showing skill in correlation and RMSE comparable to that derived from interpolation using station observations. However, this dataset is advantageous in that it provides spatially and temporally complete data across several variables and even across vast unmonitored areas of the United States. 
<br><br>
<a href="http://cida.usgs.gov/thredds/catalog.html?dataset=cida.usgs.gov/thredds/UofIMETDATA">
Download the METDATA data</a>
</p>
