<h2>gridMET Gridded Observations<br>(Abatzoglou, 2013)</h2>
<p><span style="font-size:400%">
<ul>
<li>Surface meteorological dataset based on PRISM and NLDAS-2</li>
<li><b>Spatial resolution:</b> 4-km grid (1/24-deg)</li>
<li><b>Time Span:</b> 1979-Present(Updated every day)</li>
<li><b>Variables</b>:</li>
<ul>
    <li>Minimum/Maximum Temperature</li>
    <li>Precipitation</li>
    <li>Minimum/Maximum Relative Humidity</li>
    <li>Specific Humidity</li>
    <li>Downward Solar Radiation</li>
    <li>Near Surface Wind Velocity</li>
    <li>Potential Evapotranspiration/li>
    <li>Energy Release Component(model-G)</li>
</ul>
</ul>
</span>
</p>
