<center>
	<p style="font-size:500%">Google Drought</span>
	<h1>Drought Monitoring through Visualization of <br>Remote Sensing and Observational Datasets</h1>
</center>
<img src="images/ExampleHuss.png" width="100%">
<hr>
<table width="100%">
	<tr>
	<td width="10%"></td>
	<td width="40%">
    <a href="#tutorialModal" data-toggle="modal" data-dismiss="modal"><span style="color:red"><h1>Tutorial</h1></span></a>
	</td>
	<td width="40%">
    <a href="#" data-dismiss="modal"><span style="color:red"><h1>Drought Tool</h1></span></a>
	</td>
	<td width="10%"></td>
	</tr>
</table>
<hr>
<p>
	<center>
	<a href="http://www.dri.edu/reno"><img src="images/dri.jpg" height="100" alt="Desert Research Institute(DRI)" style="border: none"></a>
	<a href="http://www.uidaho.edu"><img src="images/uidaho.jpeg" height="100" alt="UofI" style="border: none"></a>
	<a href="http://www.google.com"><img src="images/google.jpg" height="100" alt="Google" style="border: none"></a>
	</center>
</p>
