<h2>Landsat Remote Sensing<br>(NASA-USGS)</h2>
<p>
<ul>
<li>Reflectance data in visible, near, middle infrared and thermal bands</li>
<li><b>Spatial resolution:</b> 30-m, 80-m, and 120-m</li>
<li><b>Time Span:</b> 1972-Present(Landsat 1-8, images every 8-day )</li>
<li><b>Composite Images</b>:<li>
<ul>
    <li>EVI: Enhanced Vegetation Index</li>
    <li>NDVI: Normalized Difference Vegetation Index</li>
    <li>NDSI: Normalized Difference Snow Index</li>
    <li>NDWI: Normalized Difference Water Index</li>
</li>
</ul>
</p>
