<h4>Landsat</h4>
<p>
Six Landsat satellites have been successfully launched since 1972 for the collection of remote sensing data.
The Landsat 3-5 satellites carried two types of scanners - MSS (Multispectral Scanner) and TM (Thematic Mapper), imaging the Earth surface with different spatial and spectral resolution. The MSS data of 80 m spatial resolution is available since 1972 and the TM data with a spatial resolution of 30 m in the visible, near and middle infrared bands and 120 m in the thermal band - since 1982.
<br><br>
The presently operating Landsat 7 satellite has been in orbit since April 15, 1999. This space platform carries the ETM+ radiometer being the enhanced TM scanner . The ETM+ radiometer is currently malfunctioning due to a Scan Line Corrector fialure, resulting in worse data quality. Real-time operation of Landsat-5 satellite, put on orbit in 1984, has been resumed to fill in this gap.
<br><br>
The ScanEx R&D Center receives real-time Landsat 5 data within the frames of the international Mid-Decadal Global Land Survey (MDGLS) Project, managed by NASA and the U.S. Geological Survey (USGS). The program objective is updating of the global Earth map of land cover, land use change to support the assessment of the climate change impacts and of human activities on the planet.
The ScanEx R&D Center offers supplying data of both the radiometers ETM+ (Landsat 7) and ## (Landsat 4,5) from the Center' internal archive and the radiometer ETM+ from the global archive of the USGS. The global archive contains the data for almost the whole surface of the Earth. Moreover some regions including Russia's territory are covered with the image data many times.
</p>
