<h4>MODIS</h4>
<p>
The Moderate Resolution Imaging Spectroradiometer (MODIS) instrument is operating on both the Terra and Aqua spacecraft. It has a viewing swath width of 2,330 km and views the entire surface of the Earth every one to two days. Its detectors measure 36 spectral bands and it acquires data at three spatial resolutions: 250-m, 500-m, and 1,000-m.
<br><br>
Based on the orbital's cycle, MODIS data is available in various temporal resolutions (Daily, 8-Day, 16-Day, Monthly, Quarterly, Yearly). THe instruments acquire data in 3 native spatial resolutions: Bands 1-2 (250-m), bands 3-7 (500-m), bands 8-36 (1000-m). 
<br><br>
</p>


