<h2>MODIS Remote Sensing <br>(NASA)</h2>
<p>
<ul>
<li>Reflectance data in 36 frequency bands: visible to thermal</li>
<li><b>Spatial resolution:</b> 250-m, 500-m, and 1-km</li>
<li><b>Time Span:</b> 1999-Present(images every 1-2-days)</li>
<li><b>Composite Images</b>: (daily, 8-day,16-day,monthly,quarterly, annual)<li>
<ul>
    <li>EVI: Enhanced Vegetation Index</li>
    <li>NDVI: Normalized Difference Vegetation Index</li>
    <li>NDSI: Normalized Difference Snow Index</li>
    <li>NDWI: Normalized Difference Water Index</li>
</li>
</ul>
</p>
