<h4>NBRT</h4>
<p>
The Normalized Burning Ratio Thermal Index (NBRT)
uses a thermal band to enhance the NBR. It results in a better separability between burned and unburned land (Holden et al., 2005).
NBRT1 was originally developed for use with Landsat TM and ETM+ bands 4, 7, and 6. However, it will work with any multispectral sensor (including Landsat 8) with bands that fall within the following ranges:
NIR: 0.76 to 0.9 µm
SWIR: 2.08 to 2.35 µm
Thermal: 10.4 to 12.5 µm
<br>
<img src="images/formulas/nbrt.gif" height="100px">

</p>
