<h4>NDVI </h4>
<p>
The Normalized Difference Vegetation Index (NDVI) is a simple graphical indicator that can be used to analyze remote sensing measurements, typically but not necessarily from a space platform, and assess whether the target being observed contains live green vegetation or not. NDVI is calculated from the ratio of the difference to the sum of the near-infrared(NIR) and the visible red (VIS) bands of spectral reflectance measurements from remote sensing satellite images. By design, 
NDVI varies between -1.0 and 1.0.  <br>
<img src="images/NDVI_equation.png" width="200px">
<br><br>
In periods of drought, vegetation is not able to be as productive for a host of reasons (heat stress, precipitation limited,etc). The more a plant is being productive and photosynthesizing, the more it is absorbing visible sunlight(during the growing season). 
Conversely, the less a plant is being productive, the less it is photosynthesizing and the less sunlight the plant absorbs.
Satellite remote sensors can quantify what fraction of the photosynthetically active radiation is absorbed by vegetation in the different frequency bands. 
The calclation of NDVI, when averaged over time can be used to establish 'normal' growing conditions for vegetation
in a given region for a giv en time of year. A region's absorption and reflectance of photosynthetically active 
radiation over a given period of time can be used to characterize the health of the vegetation there, relative to the 
norm. 
<br><br>
NDVI can be used as a drought metric by looking at the NDVI anomaly, i.e. comparing the change between the average NDVI for a particular month 
of a given year and the average NDVI for the same month over the last 20 years. 
In most cases, vegetation growth is limited by water so the relative density of vegetation is a good indicator 
of agricultural drought. Comparing this month’s or this year’s NDVI data with the 20-year average reveals whether the productivity in a given region is typical, or whether the plant growth is significantly more or less productive.
We label a particular region in which there is a period of reduced plant grown (due to lack of precipitation) as 'in drought'. However, Other possible causes for lower than normal NDVI are exceptionally cold temperatures (which can delay or cut short the growing season) and clouds. 
<br><br

The above image shows the NDVI anomaly in the U.S. for August 1993. In that year, heavy rain in the Northern Great Plains (North and South Dakota, Alberta, and Saskatchewan) led to flooding in the Missouri River. The resulting exceptionally lush vegetation appears as a positive anomaly (green). Concurrently, in the Eastern U.S., rainfall was very low, and the region exhibited a strong negative anomaly (dark red).
</p>
