<h4>NDWI</h4>
<p>
The Normalized Difference Water Index (NDWI) is a satellite index derived from Near-Infrared (NIR) and Short Wave Infrared (SWIR) channels:<br>
<br>[ NDWI = (NIR - SWIR) / (NIR + SWIR) ]<br><br>
The amount of water present in leaf internal structure mainly affects the spectral reflectance in the SWIR interval (ca. 1.2-1.7 μ m). The SWIR reflectance is also sensitive to leaf internal structure. Because the NIR is affected by leaf internal structure and leaf dry matter, but not by the water content, the combination of both into NDWI “removes” leaf dry matter and internal structure.
As with the NDVI image, dark pixels have low values, white have high and gray have average.
Water Index (NDWI)
<br>
</p>
