<h4> PDSI</h4>
<p>
The Palmer Drought Severity Index (PDSI; Palmer 1965) is calculated using only monthly temperature and precipitation. 
The PDSI is based on the supply-and-demand model of soil moisture. Precipitation provides the supply, while the demand involves temperature, soil moisture, evapotranspiration and recharge rates. 
PDSI spans -10(dry) to +10 (wet). 
An index of zero is normal, positive numbers are for wet spells and negative numbers are for varying levels of drought (i.e., -2 is moderate drought, -3 is severe drought, and -4 is extreme drought). The PDSI was calculated using historical records of precipitation, mean temperature, PET, and soil conditions. A caveat of using the PDSI is that though it takes into account the influence of temperature on drought (i.e., through evapotranspiration) and the sequence of moisture, it treats all precipitation as liquid, was calibrated for croplands in the Midwest, and uses a temperature index model to estimate PET rather than the Penman-Montieth approach.
<br><br>
PDSI can be used as a drought metric because it uses temperature data and a physical water balance model so that it can 
capture the basic effect of global warming on drought through changes in potential evapotranspiration. 
<br><br>
While these metrics have proven useful for providing valuable information
regarding hydrologic and meteorological drought, they have serious limitations at short time scales (weekly) and fail to identify drying
associated with atmospheric variables other than precipitation and temperature. Also, it does not account for snow or ice (delayed runoff) and assumes the precipitation is immediatley available.
</p>
