 <table  border="0" width="100%" height="100%">
     <tr>
	 <td>
                 <table  border="0" width="100%" height="100%">
                 <tr>
                        <td><img class="img-circle" src="images/team/huntington.jpg" height="100" width="100"></td>
                        <td><b>Justin Huntington</b><br>
                                Assistant Professor,Hydrology<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Justin.Huntington [at] dri.edu
                        </td>
                </tr>
                <tr>
                        <td><img class="img-circle" src="images/team/morton.jpg" height="100" width="100"></td>
                        <td><b>Charles Morton</b><br>
                                Research Scientist<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Charles.Morton [at] dri.edu
                        </td>
                </tr>
                <tr>
                         <td><img class="img-circle" src="images/team/joros.jpg" height="100" width="100"></td>
                         <td><b>Andrew Joros</b><br>
                                Research Scientist<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Andrew.Joros [at] dri.edu
                        </td>
                </tr>
		 <tr>
                         <td><img class="img-circle" src="images/team/daudert.jpg" height="100" width="100"></td>
                         <td><b>Britta Daudert</b><br>
                                Research Scientist<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Britta.Daudert [at] dri.edu
                        </td>
                </tr>
                <tr>
                         <td><img class="img-circle" src="images/team/mcevoy.jpg" height="100" width="100"></td>
                         <td><b>Dan McEvoy</b><br>
                                Graduate Student<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Daniel.McEvoy [at] dri.edu
                        </td>
                </tr>
                </table>
	</td>
        <td>
                <table  border="0" width="100%" height="100%">
                <tr>
                        <td><img class="img-circle" src="images/team/abatzoglou.jpg" height="100" width="100"></td>
                        <td><b>John Abatzoglou</b><br>
				Assistant Professor<br>
                                University of Idaho<br>
                               jabatzoglou [at] uidaho.edu
			</td>
                </tr>
                <tr>
                        <td><img class="img-circle" src="images/team/vansant.jpg" height="100" width="100"></td>
                        <td><b>Donovan VanSant</b><br>
				Graduate Student<br>
                                University of Idaho<br>
                                ? [at] uidaho.edu
			</td>
                </tr>
		 <tr>
                        <td><img class="img-circle" src="images/team/hegewisch.jpg" height="100" width="100"></td>
                        <td><b>Katherine Hegewisch</b><br>
				Postdoctoral Fellow<br>
                                University of Idaho<br>
                               khegewisch [at] uidaho.edu
			</td>
                </tr>
		 <tr>
                        <td><img class="img-circle" src="images/team/peterson.jpg" height="100" width="100"></td>
                        <td><b>Alex Peterson</b><br>
				Graduate Students<br>
                                University of Idaho<br>
                               pete5506 [at] vandals.uidaho.edu  
			</td>
                </tr>


                </table>
        </td>
    </tr>
</table>
