	<table id="table" class="table table-striped" width="20%">
	<tr>
	   <td>
		<h4><p style="text-align:left"><u><span style='color:blue'> Data Options:</span></u></p></h4>
	   </td>
	</tr>
	<tr>
	    <td>
	       <!----------------------------->
	       <!--           VARIABLE      -->
	       <!----------------------------->
          <!--<div class="basicvariable">-->
			<div class="variableLandsat">
		  		<b>Variable:</b><br> 
				<select id="basicvariable" name="basicvariable" class="basicvariable" width="95%">
					{% for x,y in formVariableLandsat %}
					    <option value="{{ x }}" {% if x == variable  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
					{% for x,y in formVariableGrid %}
					    <option value="{{ x }}"{% if x == variable  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</select>
				<br>
		  		<b>Calculation:</b><br> 
				<select id="anomOrValue" name="anomOrValue" class="anomOrValue" width="95%">
					{% for x,y in formAnomOrValue %}
					    <option value="{{ x }}" {% if x == anomOrValue  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</select>
			</div>
		<!--</div>-->
	</td>
	</tr>
    {% if form_error.basicvariable %}
        <tr>
        <td>
        <div class="error">{{ form_error.basicvariable }}</div>
        </td>
        </tr>
    {% endif %}
	<tr>
	<td>
	       <!----------------------------->
	       <!--         TIME PERIOD     -->
	       <!----------------------------->
		  <b>Time Period</b><br>
		   <div class="timeperiod">
			  Start Date:
			  <input type="text" id="dateStart" value="{{ dateStart }}" name="dateStart">
			  <br>
              {% if form_error.dateStart %}
                <div class="error">{{ form_error.dateStart }}</div>
                <br>
              {% endif %} 
			  End Date:
			  <input type="text" id="dateEnd" value="{{ dateEnd }}" name="dateEnd">
              {% if form_error.dateEnd %}
                <br>
                <div class="error">{{ form_error.dateEnd }}</div>
              {% endif %}
		   </div>
	  </td>
	</tr>
	 <tr>
           <td>
		       <!----------------------------->
		       <!--      DOMAIN             -->
		       <!----------------------------->
				  <b>Domain:</b><br>
				   <div class="domainType">
					Select Domain: 
					<select id="domainType" name="domainType" width="95%">
						{% for x,y in formLocation %}
						    <option value="{{ x }}"{% if x == domainType  %} selected {% endif %}>{{ y }}</option>
						{% endfor %}
					</select>
                    {% if form_error.domainType %}
                        <br>
                        <div class="error">{{ form_error.domainType }}</div>
                    {% endif %}
				 </div>
			       <!----------------------------->
			       <!--      SUBDOMAIN (Points,States)   -->
			       <!----------------------------->
				   <div class="subdomain">
                   {% if domainType == "states"%}
                   <div class="states">
                   {% else %}
					<div class="states" style="display:none">
                    {% endif %}
						<br>	
						  Select a State:

						<select id="state" name="state" width="95%" class="textfeld"  
							onclick="findAddress();return false"  
							onchange="findAddress();return false" onfocus="">
							{% for x,y in formStates %}
							    <option value="{{ x }}" {% if x == state  %} selected {% endif %}>{{ y }}</option>
							{% endfor %}
						</select>
                        {% if form_error.state %}
                            <br>
                            <div class="error">{{ form_error.state }}</div>
                        {% endif %}
						<br>
					</div>
                    {% if domainType == "rectangle"%}
                    <div class="rectangle">
                    {% else %}
					 <div class="rectangle" style="display:none">
                     {% endif %}
                                                <table><tr><td>
                                                 <img src="images/blackrectangle.png"></td>
                                                <td>
                                                NE corner:<input id="NELat" name="NELat" value="{{ NELat }}" size=8 />N, 
							<input id="NELong" name="NELong" value="{{ NELong }}" size=8>E<br>
                            {% if form_error.NELong %}
                                <div class="error">{{ form_error.NELong }}</div>
                                <br>
                            {% endif %}
                            {% if form_error.NELat %}
                                <div class="error">{{ form_error.NELat }}</div>
                                <br>
                            {% endif %}
                            
                                                SW corner:<input id="SWLat" name="SWLat" value="{{ SWLat }}" size=8/>N, 
							<input id="SWLong" name="SWLong" value="{{ SWLong }}" size=8/>E<br>
                            {% if form_error.SWLong %}
                                <div class="error">{{ form_error.SWLong }}</div>
                                <br>
                            {% endif %}
                            {% if form_error.NSWLat %}
                                <div class="error">{{ form_error.SWLat }}</div>
                                <br>            
                            {% endif %}

                     </td></tr></table>
                     </div>
                     {% if domainType == "points" %}
					<div class="points">
                    {% else %}
                    <div class="points" style="display:none;">
                    {% endif %}
					  <br>
                      Select Point(s):<br>
                      <img src="http://www.google.com/mapfiles/ms/micons/red.png">
                      <input id="pointsLongLat" name="pointsLongLat" value="{{ pointsLongLat }}" />
                      {% if form_error.pointsLongLat %}
                        <br>        
                        <div class="error">{{ form_error.pointsLongLat }}</div>
                        <br>            
                      {% endif %}

                                                  <!--<input name="pointLatLong" value="{{ pointLong }},{{ pointLat }}" />-->
                                                  <!--<input id="pointLat" name="pointLatLong" value="{{ pointLat }}" size=5/>N,
                                                  <input id="pointLong" name="pointLatLong" value="{{ pointLong }}" size=5 />E-->
					</div>
					<!--<div class="polygon">
						  Enter a Polygon (Lon(E), Lat(N)):
						<textarea rows="5" cols="30" id="polygon" name="polygon" >{{ polygon }}</textarea>
						<br>
					</div>
					-->
			     </div>
				<br>
		       <!----------------------------->
		       <!--      BUTTON            -->
		       <!----------------------------->
				   <input type="submit" class="btn btn-large ptn-primary pull-right" value="MAP" 
						form="form_map"/>
					 <div id="loading" style="display:none;">
						<img id="loading-image" src="images/loading_image.gif" alt="Loading..." />
					</div> 
	  </td>
	</tr>
	       <!----------------------------->
	       <!--      OUTPUT AREA       -->
	       <!----------------------------->
		<tr>
		   <td>
			<h4><p style="text-align:left"><u><span style='color:blue'> Map Options:</span></u></p></h4>
			Transparency:
		<!--<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>-->
			<select id="opacity" name="opacity" width="95%">
				{% for x,y in formOpacity %}
				    <option value="{{ x }}" {% if x == opacity  %} selected {% endif %}>
					{{ y }}</option>
				{% endfor %}
			</select>
            {% if form_error.opacity %}
                <br>
                <div class="error">{{ form_error.opacity }}</div>
                <br>            
            {% endif %}
			<br>
			<!--<input type="checkbox" id="colorbaroption" name="colorbaroption">Customize colorbar<br>-->

			<div class="colorbar">
				<br>
				Colorbar Palette:
				<input id="palette" name="palette" value="{{ palette }}" />
                {% if form_error.palette %}
                    <br>
                    <div class="error">{{ form_error.palette }}</div>
                {% endif %}
				<br>
				Colorbar Values:
					 <input id="minColorbar" name="minColorbar" value="{{ minColorbar }}" size=4> to 
                     {% if form_error.minColorbar %}
                        <br>
                        <div class="error">{{ form_error.minColorbar }}</div>
                        <br>                 
                     {% endif %}
					 <input id="maxColorbar" name="maxColorbar" value="{{ maxColorbar }}" size=4 />
                    {% if form_error.maxColorbar %}
                        <br>
                        <div class="error">{{ form_error.maxColorbar }}</div>
                     {% endif %}	
			</div>

			<!--Show Info Icons:
			<!--<input type="checkbox" id="infomarkers" class="infomarkers" value="infomarkers"></input>-->
			<br>
			<!--<input type="checkbox" id="kmloption" name="kmloption">Add kml/kmz layer to map<br>-->
			<div class="kmlurl">
			<b>Enter URL for KML/KMZ Layer:</b><br>
				<input id="kmlurl" name="kmlurl" value="{{ kmlurl }}" size="50" />
			</div>
            {% if form_error.kmlurl %}
                <br>
                <div class="error">{{ form_error.minColorbar }}</div>
                <br>
            {% endif %}

		   </td>
		   </tr>
           {% if mapid %}
		   <tr><td>
			<button type="button" data-toggle="modal" data-target="#shareLink">Share Link</button>
		  </td></tr>
          {% endif %}
	</table>
