<div class="tabbable">
        <!----------------------------->
        <!--        NAVIGATION       -->
        <!----------------------------->
        <ul class="nav nav-tabs" id="dataTab" >
                <li><a href="#advanceddataform" data-toggle="tab"><img src="images/uparrow.png" height="10px"></a></li>
                <!--<li class="active"><a href="#optionsModal" data-toggle="modal">Options <img src="images/downarrow.png" height="10px"></a></li>-->
                <li class="active"><a href="#basicdataform" data-toggle="tab">Options <img src="images/downarrow.png" height="10px"></a></li>
                <!--<li><a href="#figuresModal" data-toggle="modal">Figures <img src="images/downarrow.png" height="10px"></a></li>-->
                <li><a href="#timeseriesoutput" data-toggle="tab">Time Series Output <img src="images/downarrow.png" height="10px"></a></li>
                <!--<li><a href="#dataModal" data-toggle="modal">Data <img src="images/downarrow.png" height="10px"></a></li>-->
                <!--<li><a href="#data" data-toggle="tab">Data <img src="images/downarrow.png" height="10px"></a></li>-->

		<div id="progressBar"><div>
        </ul>

        <div class="tab-content">
		<!----------------------------->
		<!----------------------------->
		<div class="tab-pane active" id="basicdataform">
			{% include 'includes/basicdataform.html'%}
		</div>
                <!----------------------------->
                <!----------------------------->
                <div class="tab-pane" id="advanceddataform">
			<!--include 'includes/advanceddataform.html'-->				
			<!-- include 'includes/advanceddisplayform.html'-->			
                </div>
                <!----------------------------->
		<!--    FIGURES   -->
                <!----------------------------->
	 	<div class="tab-pane" id="timeseriesoutput">
                    {% if timeSeriesGraphData%}
                          {% include 'includes/timeseriesout.html'%}
                    {% endif %}
                </div>
                <!----------------------------->
		<!--    DATA   -->
                <!----------------------------->
		<!--
		 <div class="tab-pane" id="data">
                {% if timeSeriesData%}
                         {% include 'includes/datatab.html'%}
                {% endif %}
                </div>
		-->
        </div>
</div>
