<div class="tabbable">
        <!----------------------------->
        <!--        NAVIGATION       -->
        <!----------------------------->
        <ul class="nav nav-tabs" id="dataTab" >
                <li class="active"><a href="#basicdataform" data-toggle="tab">Basic<br> Options</a></li>
                <li><a href="#advanceddataform" data-toggle="tab">Advanced<br> Options</a></li>
        </ul>

        <div class="tab-content">
		<!----------------------------->
		<!--        GOOGLE MAP       -->
		<!----------------------------->
		<div class="tab-pane active" id="basicdataform">
			{% include 'includes/basicdataform.html'%}				
		</div>
                <!----------------------------->
                <!--       FIGURES           -->
                <!----------------------------->
                <div class="tab-pane" id="advanceddataform">
			{% include 'includes/advanceddataform.html'%}				
			{% include 'includes/advanceddisplayform.html'%}				
                </div>
        </div>
</div>
