  {% if mapid %}

	<table id="table" class="table table-striped table-bordered">
		<tr>
		    <td>
		    </td>
		    <td>
		   <input type="button"  class="btn btn-large btn-primary pull-right"
					value="DOWNLOAD FIGURE" onClick="">
		    </td>
		</tr>
	</table>

	<div class="row">
		<div class="col-md-12 img-portfolio">
			{% if timeSeriesData%}
					{% if timeSeriesGraphData %}
						{{ timeSeriesData }}
						<br><br>
						{{ timeSeriesGraphData }}
					{%endif%}
			{% endif %}
			<!--Need to get this working someday 
			<!--<script type="text/javascript">graph_utils.AndyChart('{{timeSeriesData}}');</script>-->
	       </div>
	</div>
{% endif %}
