<!----------------------------->
<!--	  FIGURE OPTIONS    -->
<!----------------------------->
<table id="table" class="table table-striped table-bordered">
	<tr>
	   <td>
	    </td>
	    <td>
	   <input type="button"  class="btn btn-large btn-primary pull-right"
                                value="DOWNLOAD FIGURE" onClick="">
	    </td>
	</tr>
</table>

<!----------------------------->
<!--	  FIGURES 	    -->
<!----------------------------->
<div class="tab-content">
	<div class="tab-pane active" id="figure1">
		<div class="row">
		    <div class="col-md-12 img-portfolio">

{% if timeSeriesData%}
{% endif %}
	<!--
	<script type="text/javascript">graph_utils.AndyChart('{{timeSeriesData}}');</script>

			<div id="d3bargraph_div" style="width: 600px; height: 500px;"></div>

	-->
			  <!-- <img class="img-responsive img-hover" src="images/climatology.png" alt="" id="target_image_1">-->
			<!--<a href="#target_figure_1" id="target_figure_1" name="form_figure_1">-->
			</a> 
		    </div>
		</div>
	</div>
	<div class="tab-pane" id="figure2">
		<div class="row">
		    <div class="col-md-12 img-portfolio">
			{% if timeSeriesGraphData %}
				{{ timeSeriesData }}
				<br><br>
				{{ timeSeriesGraphData }}
                        {%endif%}
		    </div>
		</div>
	</div>

</div>
<!----------------------------->
<!--      PAGINATION         -->
<!----------------------------->
<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
	<ul class="pagination">
	    <li class="active">
		<a href="#figure1" data-toggle="tab">Figure 1</a>
	    </li>
	    <li>
		<a href="#figure2" data-toggle="tab">Figure 2</a>
	    </li>
	</ul>
    </div>
</div>
