<!-- Footer of Bling -->
<footer>
    <div class="row">
	<div class="col-lg-12">
		<p><center>
			<a href="http://www.uidaho.edu"><img src="images/uidaho.jpeg" height="70" alt="UofI" style="border: none"></a>
			<a href="http://www.dri.edu/reno"><img src="images/dri.jpg" height="60" alt="Desert Research Institute(DRI)" style="border: none"></a>
			<a href="http://www.google.com"><img src="images/google.jpg" height="60" alt="Google" style="border: none"></a>
		</center></p>
	</div>
    </div>
</footer> 
