<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Google Earth Drought</title>

    <!-- Bootstrap Core CSS -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/media/css/modern-business.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/media/css/extra.css" rel="stylesheet">

    <!-- Custom Fonts -->
<!--<link href="/media/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="/text/css">-->
<!-- <link rel="stylesheet" type="text/css" href="media/extjs/resources/css/ext-all.css"/>-->

</head>
