<script type="text/javascript"> 
        //-------------------------
        // DUPLICATE FOR TIME DATE (Listener sets change in either to the other)
        //-------------------------
	$(function(){
	    $( "#dateStartTS" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      numberOfMonths: 3,
	      minDate: $('#minDate').val(),
	      maxDate: $('#maxDate').val(),
	      yearRange: $('#minYear').val() + ":+0",
	      //minDate: $('#minYear').val() + "-01-01",
	      //maxDate: "-2d",
	      //yearRange: $('#minYear').val() + ":" + $('#maxYear').val(),
	      dateFormat: "yy-mm-dd",
	      onClose: function( selectedDate ) {
		    $( ".dateEnd" ).datepicker( "option", "minDate", selectedDate );
		    document.getElementById('dateStart').value =document.getElementById('dateStartTS').value;
	      }
	    }).datepicker('setDate', "{{ dateStart }}");
	    $( "#dateEndTS" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      numberOfMonths: 3,
	      minDate: $('#minDate').val(),
	      maxDate: $('#maxDate').val(),
	      yearRange: $('#minYear').val() + ":+0", 
	      dateFormat: "yy-mm-dd",
	      onClose: function( selectedDate ) {
		    $( ".dateStart" ).datepicker( "option", "maxDate", selectedDate );
			document.getElementById('dateEnd').value =document.getElementById('dateEndTS').value;
		    }
	   }).datepicker('setDate', '{{ dateEnd }}');
        });
        //-------------------------
        // DUPLICATE FOR MAP DATE(Listener sets change in either to the other)
        //-------------------------
 	$(function(){
        $( "#dateStart" ).datepicker({
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 3,
	  minDate: $('#minDate').val(),
	  maxDate: $('#maxDate').val(),
          yearRange: $('#minYear').val() + ":" + $('#maxYear').val(), //can do :+0 for current day
          dateFormat: "yy-mm-dd",
          onClose: function( selectedDate ) {
                $( ".dateEnd" ).datepicker( "option", "minDate", selectedDate );
                document.getElementById('dateStartTS').value =document.getElementById('dateStart').value;
          }
        }).datepicker('setDate', "{{ dateStart }}");
        $( "#dateEnd" ).datepicker({
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 3,
	    minDate: $('#minDate').val(),
	    maxDate: $('#maxDate').val(),
            yearRange: $('#minYear').val() + ":" +$('#maxYear').val(),
            dateFormat: "yy-mm-dd",
            onClose: function( selectedDate ) {
                $( ".dateStart" ).datepicker( "option", "maxDate", selectedDate );
                document.getElementById('dateEndTS').value =document.getElementById('dateEnd').value;
            }
        }).datepicker('setDate', '{{ dateEnd }}');
     });

</script>
