<script type="text/javascript">
    //------------------------
    //     OPTIONS
    //------------------------
    var variable = "{{ variable }}";
    var dateStart='{{ dateStart }}';
    var dateEnd='{{ dateEnd }}';
    var varUnits='{{ varUnits }}';
    var variableShortName_time='{{ variableShortName_time }}';
    var yLabel = variableShortName_time+' '+varUnits;
    var title_timeseries = "Daily "+variableShortName_time;
    var subtitle="Data Source: {{ productLongName_time }}";
    var legendTitle='<b>Point Locations (Long/Lat):</b>';

    if(variable=='Gpr' || variable=='Gpet' || variable=='Gwb'){
	var chartType='column';
    }else{
	var chartType='spline';
    }

    var axis_min = null;
    if (variable == 'Gvs' || variable == 'Gpr' || variable=='Gpet'){
    	axis_min = 0;
    }

    //------------------------
    //    GLOBAL VARIABLE STORED
    //------------------------
    var timeSeriesData = {{ timeSeriesGraphData |safe}};

    //------------------------
    //define chart data
    //------------------------
    var series_data = [],s,d;
    for (var k=0;k<timeSeriesData.length;k++){
	    d = timeSeriesData[k].Data;
	    s = {
		name:timeSeriesData[k].LongLat,
		color:timeSeriesData[k].MarkerColor,
		data:d
	    }
	    series_data.push(s);
    }

  // };

   //------------------------
    // make high charts figure
    //------------------------
      generateHighChartFigure(series_data,'#container',chartType,title_timeseries,subtitle,dateStart,dateEnd,yLabel,legendTitle,axis_min,variableShortName_time,varUnits);

</script>
