		/*********************************
		*      POINTS                    *
		*********************************/
		var bounds = new google.maps.LatLngBounds();
		var timeSeriesGraphData = "{{ timeSeriesGraphData }}";
		var domainType = document.getElementById('domainType').value;

		var marker_img, markers = [], marker_visible;
        	var latlong, point_id, LongLat, Long, Lat; 
		//Set initial markers
		$('.pointCheck[type=checkbox]').each(function() {
		    point_id = $(this).val();
		    LongLat = String($('#p' + String(point_id)).val()).replace(' ','');
		    Long = parseFloat(LongLat.split(',')[0]);
		    Lat = parseFloat(LongLat.split(',')[1]);
		    latlong = new google.maps.LatLng(Lat,Long);
		    marker_img = document.getElementById('img' + String(point_id)).src;
            	//Set marker visibility depending on visibility and checkbox
		    if ($('#domainType').val()=='points'){
			//Show first marker
			if (String(point_id) == '1'){
			    marker_visible = true;
			}
			else {
			    if ($('#point' + String(point_id)).css('display') == 'block' && 
			    $('#p' + String(point_id) + 'check').val('checked')){
				marker_visible = true;
			    }
			    else{
				marker_visible = false;
			    }
			}
		    }
		    else {
			marker_visible = false;
		    }
		    var marker = new google.maps.Marker({
			map: map,
			position: latlong,
			title:String(point_id),
			draggable:true,
			visible:marker_visible,
			icon: marker_img
		    });
		    //Assign point_id to marker for tracking
		    marker.id = point_id;
		    google.maps.event.addListener(marker, 'click', function() {
			    //Uncheck checkbox
			    var m_id = marker.id;
			    $('#check' + String(m_id)).attr('checked',false);
			    //Hide marker
			    marker.setVisible(false);
		    });
		    google.maps.event.addListener(marker, 'dragend', function (event) {
			    var point_id = marker.id;
			    //Set new lat,lon
			    var new_lat = event.latLng.lat().toFixed(4);;
			    var new_long = event.latLng.lng().toFixed(4);
			    //Update value in form
			    $('#p' + String(point_id)).val(new_long + ',' + new_lat);
		    });
		    markers.push(marker);
		});
		window.markers = markers;
