 var lightPoliticalStyles = [
 /* {
    featureType: "all",
    stylers: [
      { visibility: "off" }]
    }];
*/
     {   featureType: "water",
          stylers: [{
              visibility: "on"
          }, {
              saturation: 2
          }, {
              hue: "#004cff"
          }, {
              lightness: 40
          }]
      }, {
          featureType: "administrative",
          elementType: "geometry",
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "landscape",
          stylers: [
              {visibility: "on"},
              {color: "#ffffff"},
          , {
              lightness: 45
          }]
      }, {
          featureType: "transit",
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "poi.government",
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "poi",
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "road",
          elementType: "labels",
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "road",
          elementType: "geometry",
          stylers: [{
              visibility: "on"
          }, {
              saturation: -99
          }, {
              lightness: 60
          }]
      }, {
          featureType: "administrative.country",
          elementType: "geometry",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 50
          }]
      }, {
          featureType: "administrative.province",
          elementType: "geometry",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 50
          }]
      }, {
          featureType: "administrative.country",
          elementType: "labels",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 50
          }]
      }, {
          featureType: "administrative.locality",
          elementType: "labels",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 60
          }]
      }, {
          featureType: "administrative.neighborhood",
          elementType: "labels",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 65
          }]
      }, {
          featureType: "administrative.province",
          elementType: "label",
          stylers: [{
              visibility: "on"
          }, {
              lightness: 55
          }]
      }]
