<table id="table" class="table table-striped" width="20%">
<tr>
 <td>
	<!-- place holder for now -->
  </td>
</tr>
<tr>
</table>

<!----------------------------->
<!--      MAP                -->
<!----------------------------->
<div class="col-md-12 img-portfolio">
	 <div id="map" style="width: 800x; height: 600px;"></div>
	<a href="" name="form_colorbar" id="target_colorbar">
	{% if ppost ==1 %}
		<br>
		<center><img class="img-responsive img-hover" src="images/colorbar_{{ variable }}.png" id="colorbar"></center> 
	{% endif %}
	</a>
</div>
