<table id="table" class="table table-striped" width="20%">
<tr>
 <td>
	<!-- place holder for now -->
  </td>
</tr>
<tr>
</table>

<!----------------------------->
<!--      MAP                -->
<!----------------------------->
<div class="col-md-12 img-portfolio">
	{% if ppost ==1 %}
		<span style="font-size:18pt"><center>{{ title }}</center></span> 
	{% endif %}
	 <div id="map" style="width: 800x; height: 500px;"></div>
	{% if ppost ==1 %}
		<span style="font-size:10pt"><center>(Source: {{ source }})</center></span> 
		<br>
		<div name="form_colorbar" id="target_colorbar">
			<center>
			<img class="img-responsive img-hover" 
				src="images/colorbar_{{ variable }}.png" id="colorbar">
			</center> 
		</div>
	{% endif %}
	</a>
</div>
