	<table id="table" class="table table-striped" width="20%" border="1">
	<tr>
	    <td>
	       <!----------------------------->
	       <!--      OPACITY            -->
	       <!----------------------------->
		<b>Map Transparency:</b>
		<!--<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>-->
		<select id="opacity" name="opacity" width="95%">
			{% for x,y in formOpacity %}
			    <option value="{{ x }}" {% if x == opacity  %} selected {% endif %}>
				{{ y }}</option>
			{% endfor %}
		</select>
		{% if form_error.opacity %}
			<br>
			<div class="error">{{ form_error.opacity }}</div>
			<br>            
		{% endif %}
	   </td>
	</tr>
	<tr>
	    <td>
	       <!----------------------------->
	       <!--      COLORBAR            -->
	       <!----------------------------->
		<div class="colorbar">
			<input type="hidden" id="colorbarLabel" name="colorbarLabel" value="{{ colorbarLabel }}" />
                        <b>Colorbar:</b><br>
			<li>Units:
                        <select id="units" name="units" class="units" width="95%">
                                {% for x,y in formUnits %}
                                    <option value="{{ x }}" {% if x == units  %} selected {% endif %}>
                                        {{ y }}</option>
                                {% endfor %}
                        </select>
                        </li>
			<li>Colormap:
				<select id="colorbarmap" name="colorbarmap" class="colorbarmap" width="95%">
					<optgroup label="Divergent Maps">
						{% for x,y in formPaletteDivMap %}
						    <option value="{{ x }}" {% if x == colorbarmap  %} selected {% endif %}>{{ y }}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Sequential Maps">
						{% for x,y in formPaletteSeqMap %}
						    <option value="{{ x }}" {% if x == colorbarmap  %} selected {% endif %}>{{ y }}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Custom Maps">
						{% for x,y in formPaletteCustomMap %}
						    <option value="{{ x }}" {% if x == colorbarmap  %} selected {% endif %}>{{ y }}</option>
						{% endfor %}
					</optgroup>
				</select>
			</li>
			<li>
				Colors:
				<select id="colorbarsize" name="colorbarsize" class="colorbarsize" width="95%">
					{% for x,y in formPaletteSize %}
					    <option value="{{ x }}" {% if x == colorbarsize  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</select>
			</li>
			<li>Colorbar Values:
			 <input id="minColorbar" name="minColorbar" value="{{ minColorbar }}" size=4> to
			     {% if form_error.minColorbar %}
				<br>
				<div class="error">{{ form_error.minColorbar }}</div>
				<br>
			     {% endif %}
			  <input id="maxColorbar" name="maxColorbar" value="{{ maxColorbar }}" size=4 />
			    {% if form_error.maxColorbar %}
				<br>
				<div class="error">{{ form_error.maxColorbar }}</div>
			     {% endif %}
            		<input type="input" id="varUnits" name="varUnits" value="{{ varUnits }}" size=5 readonly/>
		 	</li>
			<br>
			 <div id="colorbar1"><svg style="width:30px;height:30px;"></svg></div>
		  </div>
	   </td>
	</tr>
	<tr>
           <td>

               <!----------------------------->
               <!--      LAYERS          -->
               <!----------------------------->
                <b>Additional Layers:</b>
                <div class="layer">
                        {% for x,y in formLayers %}
                                <input type="radio" name="layer" value="{{ x }}" id="{{ x }}" {% if x == layer  %} checked="checked" {% endif %}>{{ y }}<br>
                        {% endfor %}
		</div>
	        <div class="kmlurl">
			<input id="kmlurl" name="kmlurl" value="{{ kmlurl }}" size="50" onfocus="this.originalvalue=this.value" />
		</div>
           </td>
        </tr>
<!----------------------------->
<!--    HIDDEN         	      -->
<!-- palette and mapCenterLongLat and mapzoom are in mapoptions -->
<!----------------------------->
</table>

<!----------------------------->
<!--    HIDDEN                -->
<!----------------------------->
<input type="hidden" class="colorbar" id="palette" name="palette" value="{{ palette }}" />
<input type="hidden" class="mapcenterzoom" id="mapCenterLongLat" name="mapCenterLongLat" value="{{ mapCenterLongLat }}" size=15/>
<div class="mapcenterzoom" style="visibility:hidden">
         <select id="mapzoom" name="mapzoom" width="95%" >
                {% for x,y in formMapZoom %}
                    <option value="{{ x }}" {% if x == mapzoom  %} selected {% endif %}>
                        {{ y }}</option>
                {% endfor %}
        </select>
</div>


