<ul class="nav nav-tabs" id="mapTab" >
                <li class="active"><a href="#tabmaprequired" data-toggle="tab">Map Request</a></li>
                <li ><a href="#tab2mapoptions" data-toggle="tab">Map Options </a></li>
</ul>
<div class="tab-content">
                <!----------------------------->
                <!--  MAP REQUEST         -->
                <!----------------------------->
                <div class="tab-pane active" id="tabmaprequired">
		  <table id="table" class="table table-striped" width="100%" border="1">
		     <tr>
		   	<td>
			<input type="hidden" id="minYear" name="minYear" value="{{ minYear }}" />
			<input type="hidden" id="mapid" name="mapid" value="{{ mapid }}" />
			<input type="hidden" id="token" name="token" value="{{ token }}" />

			<!----------------------------->
		        <!--           VARIABLE      -->
		        <!----------------------------->
			<b>Variable:</b><br>
			<select name="statistic" class="statisticChoice" id="statisticChoice">
                                {% for x,y in formStatistic %}
                                    <option value="{{ x }}" {% if x == statistic  %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                          </select>
			<br>
			<select id="variable" name="variable" class="variable" width="95%">
				<optgroup label="MODIS">
					{% for x,y in formVariableModis %}
					    <option value="{{ x }}" {% if x == variable  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</optgroup>
				 <optgroup label="Landsat">
					{% for x,y in formVariableLandsat %}
					    <option value="{{ x }}" {% if x == variable  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</optgroup>
				<optgroup label="gridMET">
					{% for x,y in formVariableGrid %}
						<option value="{{ x }}"{% if x == variable  %} selected {% endif %}>{{ y }}</option>
					{% endfor %}
				</optgroup>
			</select><br>
			<select id="anomOrValue" name="anomOrValue" class="anomOrValue" width="95%">
				{% for x,y in formAnomOrValue %}
				    <option value="{{ x }}" {% if x == anomOrValue  %} selected {% endif %}>{{ y }}</option>
				{% endfor %}
			</select>
			</td> 
    		    </tr>
		   {% if form_error.variable %}
			<tr>
				<td>
					<div class="error">{{ form_error.variable }}</div>
				</td>
		 	</tr>
	   	    {% endif %}
		    <tr>
			<td>
		       <!----------------------------->
		       <!--         TIME PERIOD     -->
		       <!----------------------------->
			   <div class="timeperiod">
			  <b>Time Period</b><br>
				  Start Date:
				  <input type="text" id="dateStart" value="{{ dateStart }}" name="dateStart" class="dateStart">
				  <br>
				  {% if form_error.dateStart %}
					<div class="error">{{ form_error.dateStart }}</div>
					<br>
				  {% endif %}
				  End Date:
				  <input type="text" id="dateEnd" value="{{ dateEnd }}" name="dateEnd" class="dateEnd">
				   {% if form_error.dateEnd %}
					<br>
					<div class="error">{{ form_error.dateEnd }}</div>
				   {% endif %}
			   </div>
			</td>
		   </tr>
  		   <tr> 
		       <td>
		  	<div class="climatologyYears" 
				{% if anomOrValue == "value" %}
					style="display:none"
				{% endif %}
				>
			       <!----------------------------->
			       <!--        CLIMATOLOGY YEARS     -->
			       <!----------------------------->
				<b>Climatology Year Range:</b><br> 
				 <select id="yearStartClim" name="yearStartClim" class="yearStartClim">
				{% for x,y in formYear %}
				     {% if x>=1972 and x<=yearEnd %}
				    <option value="{{ x }}" {% if x == yearStartClim  %} selected {% endif %}>{{ y }}</option>
				     {% endif %}
				{% endfor %}
				</select>-
				 <select id="yearEndClim" name="yearEndClim" class="yearEndClim">
				{% for x,y in formYear %}
				     {% if x>=1972 and x<=yearEnd %}
				    <option value="{{ x }}" {% if x == yearEndClim %} selected {% endif %}>{{ y }}</option>
				     {% endif %}
				{% endfor %}
				</select>
			</div>
			</td>
		   </tr>
		   </table>
                </div>
                <!----------------------------->
                <!--    MAP OPTIONS        -->
                <!----------------------------->
                <div class="tab-pane" id="tab2mapoptions">
                                        {% include 'includes/mapcollapsibleoptions.html'%}
                </div>
		<!----------------------------->
		<!--    MAP BUTTON               -->
		<!----------------------------->
		<table width="100%">
		    <tr>
			<td>
				<center>
				<input type="submit" class="btn btn-large btn-primary pull-right" value="GET MAP"
					 form="form_map" onclick="document.getElementById('domainType').value='full';"/>
				<br>
				{% if mapid %}
					 <a href="#shareLink" data-toggle="modal">Share Link</a>
			       {% endif %}
				</center>
			</td>
		    </tr>
		</table>
</div>

