<ul class="nav nav-tabs" id="mapTab" >
                <li class="active"><a href="#tabmaprequired" data-toggle="tab">Map Request</a></li>
                <li ><a href="#tabmapoptions" data-toggle="tab">Map Options </a></li>
</ul>
<div class="tab-content">
                <!----------------------------->
                <!--  MAP REQUEST         -->
                <!----------------------------->
                <div class="tab-pane active" id="tabmaprequired">
		  <table id="table" class="table table-striped" width="100%" border="1">
		     <tr>
		   	<td>
			<!----------------------------->
			<!--  CALCULATION         -->
			<!----------------------------->
			<b>Calculation:</b><br>
			<select id="anomOrValue" name="anomOrValue" class="anomOrValue" width="95%">
				{% for x,y in formAnomOrValue %}
				    <option value="{{ x }}" {% if x == anomOrValue  %} selected {% endif %}>{{ y }}</option>
				{% endfor %}
			</select>
			<br>
			</td>
    		    </tr>
		    <tr>
			<td>
		       <!----------------------------->
		       <!--         TIME PERIOD     -->
		       <!----------------------------->
			  <b>Time Period</b><br>
			   <div class="timeperiod">
				  Start Date:
				  <input type="text" id="dateStart" value="{{ dateStart }}" name="dateStart" class="dateStart">
				  <br>
				  {% if form_error.dateStart %}
					<div class="error">{{ form_error.dateStart }}</div>
					<br>
				  {% endif %}
				  End Date:
				  <input type="text" id="dateEnd" value="{{ dateEnd }}" name="dateEnd" class="dateEnd">
				   {% if form_error.dateEnd %}
					<br>
					<div class="error">{{ form_error.dateEnd }}</div>
				   {% endif %}
			   </div>
			</td>
		   </tr>
		   </table>
                </div>
                <!----------------------------->
                <!--    MAP OPTIONS        -->
                <!----------------------------->
                <div class="tab-pane" id="tabmapoptions">
                                        {% include 'includes/mapcollapsibleoptions.html'%}
                </div>
		<!----------------------------->
		<!--    MAP BUTTON               -->
		<!----------------------------->
		<table width="100%">
		    <tr>
			<td width="60%">
				<div id="loading2" style="display:none;">
					<img id="loading-image2" src="images/progressbar.gif" alt="Loading..." />
				</div>
			</td>
			<td width="40%">
				<center>
				<input type="submit" class="btn btn-large ptn-primary pull-right" value="GET MAP"
					 form="form_map" onclick="document.getElementById('domainType').value='full';"/>
				<br>
				{% if mapid %}
					<!--<button type="button" data-toggle="modal" data-target="#shareLink">Share Link</button>-->
					 <a href="#shareLink" data-toggle="modal">Share Link</a>
			       {% endif %}
				</center>
			</td>
		    </tr>
		</table>
</div>

<!----------------------------->
<!--    HIDDEN                -->
<!----------------------------->
<div class="colorbar" style="visibility:hidden">
         <input id="palette" name="palette" value="{{ palette }}" />
</div>
<div class="mapcenterzoom" >
        <b>Map:</b>
         <li>Center:<input id="mapCenterLongLat" name="mapCenterLongLat" value="{{ mapCenterLongLat }}" size=15/></li>
         <li>ZoomLevel:<select id="mapzoom" name="mapzoom" width="95%">
                {% for x,y in formMapZoom %}
                    <option value="{{ x }}" {% if x == mapzoom  %} selected {% endif %}>
                        {{ y }}</option>
                {% endfor %}
        </select>
        </li>
</div>
