<div class="tabbable">
        <!----------------------------->
        <!--        NAVIGATION       -->
        <!----------------------------->
        <ul class="nav nav-tabs nav-default" id="dataTab" >
                <li>
			<a href="#tabblank" data-toggle="tab"><img src="images/uparrow.png" height="10px"></a>
		</li>
                <li {% if not timeSeriesData %}class="active"{% endif %}>
			<a href="#tabmapoptions" data-toggle="tab">
			Map</a>
		</li>
		<li>
			<a href="#tabtimeseriesoptions" data-toggle="tab">
			Time Series
			</a>
		</li>
		{% if timeSeriesData %}
		<li class="active">
			<a href="#tabtimeseries" data-toggle="tab">Time Series Output 
			<img src="images/downarrow.png" height="10px"></a>
		</li>
		{% endif %}
        </ul>

        <div class="tab-content">
		<!----------------------------->
                <!--    BLANK WINDOW         -->
                <!----------------------------->
                <div class="tab-pane" id="tabblank">
                </div>
		<!----------------------------->
		<!--  MAP WINDOW 	     -->
		<!----------------------------->
		<div class="tab-pane {% if not timeSeriesData %}active{% endif %}" id="tabmapoptions">
			<table id="table" class="table" width="100%">
        			<tr style="outline: thin solid">
            			   <td>
                                        {% include 'includes/mapoptions.html'%}
				   </td>
        			 </tr>
			</table>
		</div>
                <!----------------------------->
		<!--    TIME SERIES WINDOW   -->
                <!----------------------------->
		<div class="tab-pane" id="tabtimeseriesoptions">
			<table id="table" class="table" width="100%">
				<tr style="outline: thin solid">
				   <td>
					{% include 'includes/timeseriesoptions.html'%}
				   </td>
				 </tr>
			</table>
		</div>
                <!----------------------------->
		<!--    TIME SERIES DATA WINDOW   -->
                <!----------------------------->
	 	<div class="tab-pane {% if timeSeriesData %}active{% endif %}" id="tabtimeseries">
                    {% if timeSeriesGraphData%}
			<table>
				<tr>
					<td width="60%" valign="top">
						<!----------------------------->
						<!--    FIGURES   -->
						<!----------------------------->
						    {% if timeSeriesGraphData%}
							  {% include 'includes/tabfigure.html'%}
						    {% endif %}
					</td>
					<td width="40%" valign="top">
						<!----------------------------->
						<!--    DATA   -->
						<!----------------------------->
						{% if timeSeriesData%}
							 {% include 'includes/tabdata.html'%}
						{% endif %}
					</td>
				</tr>
			</table>
                    {% endif %}
                </div>
        </div>
</div>
