<ul class="nav nav-tabs" id="timeseriesTab" >
                <li class="active"><a href="#tabtimeseriesrequired" data-toggle="tab">TimeSeries Request</a></li>
                <li ><a href="#tabtimeseriesoptions" data-toggle="tab">Plot Options </a></li>
</ul>
<div class="tab-content">
                <!----------------------------->
                <!--  TIMESERIES REQUEST         -->
                <!----------------------------->
                <div class="tab-pane active" id="tabtimeseriesrequired">
			{% include 'includes/timeseriesrequired.html'%}
		</div>
   		<!----------------------------->
                <!--   TIMESERIES OPTIONS    -->
                <!----------------------------->
                <div class="tab-pane" id="tabtimeseriesoptions">
                        {% include 'includes/timeseriescollapsibleoptions.html'%}
		</div>
   		<!----------------------------->
                <!--  TIME SERIES BUTTON    -->
                <!----------------------------->
		<table width="100%">
		    <tr>
			<td width="60%">
				<div id="loading2" style="display:none;">
					<img id="loading-image2" src="images/progressbar.gif" alt="Loading..." />
				</div>
			</td>
			<td width="40%">
				<input type="submit" class="btn btn-large ptn-primary pull-right" value="GET TIME SERIES"
					 form="form_map" onclick="document.getElementById('domainType').value='points';"/>
				{% if timeSeriesData %}
					<!--<button type="button" data-toggle="modal" data-target="#shareLink">Share Link</button>-->
					 <a href="#shareLink" data-toggle="modal">Share Link</a>
			       {% endif %}
			</td>
		    </tr>
		</table>
</div>
