<table id="table" class="table table-striped" border="1">
<tr>
   <td>
          <b>Variable:</b><br>
          <select id="timeSeriesCalc" name="timeSeriesCalc" class="timeSeriesCalc">
                {% for x,y in formTimeSeriesCalc %}
                    <option value="{{ x }}" {% if x == timeSeriesCalc  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
        </select>
 	<br>
  	<select id="variableT" name="variableT" class="variableT" width="95%">
                <optgroup label="MODIS">
                        {% for x,y in formVariableModis %}
                            <option value="{{ x }}" {% if x == variable  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                </optgroup>
                 <optgroup label="Landsat">
                        {% for x,y in formVariableLandsat %}
                            <option value="{{ x }}" {% if x == variable  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                </optgroup>
                <optgroup label="gridMET">
                        {% for x,y in formVariableGrid %}
                                <option value="{{ x }}"{% if x == variable  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                </optgroup>
        </select><br>

   </td>
</tr>
<tr>
  <td><b>Time Period:</b><br>
           <div class="daytimeperiod">
                  Start Date:
                  <input type="text" id="dateStartTS" value="{{ dateStart }}" name="dateStart" class="dateStart">
                  <br>
                  End Date:
                  <input type="text" id="dateEndTS" value="{{ dateEnd }}" name="dateEnd" class="dateEnd">
           </div>
           <div class="seasontimeperiod" style="display:none">
                 Start Day:
                <select id="monthStart" name="monthStart" class="monthStart">
                {% for x,y in formMonth %}
                    <option value="{{ x }}" {% if x == monthStart  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select>
                 <select id="dayStart" name="dayStart" class="dayStart">
                {% for x,y in formDay %}
                    <option value="{{ x }}" {% if x == dayStart  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select>
                  <br>
                  End Day:
                 <select id="monthEnd" name="monthEnd" class="monthEnd">
                {% for x,y in formMonth %}
                    <option value="{{ x }}" {% if x == monthEnd  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select>
                 <select id="dayEnd" name="dayEnd" class="dayEnd">
                {% for x,y in formDay %}
                    <option value="{{ x }}" {% if x == dayEnd  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select><br>
                Year Range:
                 <select id="yearStart" name="yearStart" class="yearStart">
                {% for x,y in formYear %}
                    <option value="{{ x }}" {% if x == yearStart  %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select>-
                 <select id="yearEnd" name="yearEnd" class="yearEnd">
                {% for x,y in formYear %}
                    <option value="{{ x }}" {% if x == yearEnd %} selected {% endif %}>{{ y }}</option>
                {% endfor %}
                </select><br>
          </div>
    </td>
</tr>
<tr>
    <td>
	<!----------------------------->
        <!--      POINT              -->
        <!----------------------------->
		<div class="points" id="points">
            <input type="hidden" id="pointsLongLat" name="pointsLongLat" value="">
			<b>Point Location(s):</b><br>
            {% if form_error.pointsLongLat %}
            <p class="error">{{ form_error.pointsLongLat }}</p>
            {% endif %}
            <div id="point1" class="point" style="display:{{p1dislay}}">
                   <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p1display" name="p1display" value="{{p1display}}"/>
                   <input type="hidden" id="p1check" name="p1check" value="{{p1check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="1" id="check1" {{p1check}} />
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.0}}.png" id="img1">
                   <input type="text" id="p1" class="pointLongLat" name="p1" value="{{p1}}"/>
                   {%if p2display == "none"%}
                   <img class="add" id="pl2" src="media/img/PlusButton.png" height="15px">
                   {%else%}
                   <img class="add" id="pl2" src="media/img/PlusButton.png" height="15px" style="display:none">
                   {%endif%}
            </div>
            <div id="point2" class="point" style="display:{{p2display}}">
                    <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p2display" name="p2display" value="{{p2display}}"/>
                   <input type="hidden" id="p2check" name="p2check" value="{{p2check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="2" id="check2" {{p2check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.1}}.png" id="img2">
                   <input type="text" id="p2" class="pointLongLat" name="p2" value="{{p2}}"/>
                   <img class="minus" id="mi2" src="media/img/MinusButton.jpg" height="15px">
                   {%if p3display == "none"%}
                   <img class="add" id="pl3" src="media/img/PlusButton.png" height="15px">
                   {%else%}
                   <img class="add" id="pl3" src="media/img/PlusButton.png" height="15px" style="display:none">
                   {%endif%}
            </div>
            <div id="point3" class="point" style="display:{{p3display}}">
                   <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p3display" name="p3display" value="{{p3display}}"/>
                   <input type="hidden" id="p3check" name="p3check" value="{{p3check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="3" id="check3" {{p3check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.2}}.png" id="img3">
                   <input type="text" id="p3" class="pointLongLat" name="p3" value="{{p3}}"/>
                   <img class="minus" id="mi3" src="media/img/MinusButton.jpg" height="15px">
                   {%if p4display == "none"%}
                   <img class="add" id="pl4" src="media/img/PlusButton.png" height="15px">
                   {%else%}
                   <img class="add" id="pl4" src="media/img/PlusButton.png" height="15px" style="display:none">
                   {%endif%}
 
            </div> 
            <div id="point4" class="point" style="display:{{p4display}}">
                   <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p4display" name="p4display" value="{{p4display}}"/>
                   <input type="hidden" id="p4check" name="p4check" value="{{p4check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="4" id="check4" {{p4check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.3}}.png" id="img4">
                   <input type="text" id="p4" class="pointLongLat" name="p4" value="{{p4}}"/>
                   <img class="minus" id="mi4" src="media/img/MinusButton.jpg" height="15px">
                   {%if p5display == "none"%}
                   <img class="add" id="pl5" src="media/img/PlusButton.png" height="15px">
                   {%else%}
                   <img class="add" id="pl5" src="media/img/PlusButton.png" height="15px" style="display:none">
                   {%endif%}
 
            </div> 
            <div id="point5" class="point" style="display:{{p5display}}">
                   <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p5display" name="p5display" value="{{p5display}}"/>
                   <input type="hidden" id="p5check" name="p5check" value="{{p5check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="5" id="check5" {{p5check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.4}}.png" id="img5">
                   <input type="text" id="p5" class="pointLongLat" name="p5" value="{{p5}}"/>
                   <img class="minus" id="mi5" src="media/img/MinusButton.jpg" height="15px">
                   {%if p6display == "none"%}
                   <img class="add" id="pl6" src="media/img/PlusButton.png" height="15px">
                   {%else%}
                   <img class="add" id="pl6" src="media/img/PlusButton.png" height="15px" style="display:none">
                   {%endif%}
 
            </div> 
            <div id="point6" class="point" style="display:{{p6display}}">
                   <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p6display" name="p6display" value="{{p6display}}"/>
                   <input type="hidden" id="p6check" name="p6check" value="{{p6check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="6" id="check6" {{p6check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.5}}.png" id="img6">
                   <input type="text" id="p6" class="pointLongLat" name="p6" value="{{p6}}"/>
                   <img class="minus" id="mi6" src="media/img/MinusButton.jpg" height="15px">
                   {%if p7display == "none"%}
                   <img class="add" id="pl7" src="media/img/PlusButton.png" height="15px">
                   {%endif%}
                
 
            </div> 
            <div id="point7" class="point" style="display:{{p7display}}">
                    <!--hidden input to keep track of which markers are displayed-->
                   <input type="hidden" id="p7display" name="p7display" value="{{p7display}}"/>
                   <input type="hidden" id="p7check" name="p7check" value="{{p7check}}"/>
                   <input type="checkbox" name="point" class="pointCheck" value="7" id="check7" {{p7check}}/>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.6}}.png" id="img7">
                   <input type="text" id="p7" class="pointLongLat" name="p7" value="{{p7}}"/>
                   <img class="minus" id="mi7" src="media/img/MinusButton.jpg" height="15px">
            </div> 
        </div><!--end class=points-->
     </div><!--End subdomain-->
  </td>
</tr>

    <!----------------------------->
    <!--      HIDDEN             -->
    <!----------------------------->

<tr>
  <td>
    <!----------------------------->
    <!--      DOMAIN             -->
    <!----------------------------->
        <div class="domainType" style="display:none">
        <b>Domain:</b><br>
                Select Domain:
                <select id="domainType" name="domainType">
                        {% for x,y in formLocation %}
                            <option value="{{ x }}"{% if x == domainType  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                </select>
                {% if form_error.domainType %}
                        <br>
                        <div class="error">{{ form_error.domainType }}</div>
                {% endif %}
        </div>
    <!----------------------------->
    <!--      SUBDOMAIN          -->
    <!----------------------------->
        <div class="subdomain">
            <!----------------------------->
            <!--      STATES             -->
            <!----------------------------->
                {% if domainType == "states"%}
                <div class="states">
                {% else %}
                <div class="states" style="display:none">
                {% endif %}
                        <br>
                         Select a State:
                         <select id="state" name="state" class="textfeld"
                                onclick="findAddress();return false"
                                onchange="findAddress();return false" onfocus="">
                                {% for x,y in formStates %}
                                    <option value="{{ x }}" {% if x == state  %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                        </select>
                        {% if form_error.state %}
                            <br>
                            <div class="error">{{ form_error.state }}</div>
                        {% endif %}
                        <br>
                </div>
                <!----------------------------->
                <!----------------------------->
            <!--      RECTANGLE          -->
            <!----------------------------->
                {% if domainType == "rectangle"%}
                <div class="rectangle">
                {% else %}
                <div class="rectangle" style="display:none">
                {% endif %}
                        <br>Select a Rectangle:
                        <table>
                            <tr>
                                <td>
                                        <img src="images/blackrectangle.png">
                                </td>
                                <td>
                                        NE corner:<input id="NELat" name="NELat" value="{{ NELat }}" size=8 />N,
                                        <input id="NELong" name="NELong" value="{{ NELong }}" size=8>E<br>
                                        {% if form_error.NELong %}
                                                <div class="error">{{ form_error.NELong }}</div>
                                                <br>
                                        {% endif %}
                                        {% if form_error.NELat %}
                                                <div class="error">{{ form_error.NELat }}</div>
                                                <br>
                                        {% endif %}

                                        SW corner:<input id="SWLat" name="SWLat" value="{{ SWLat }}" size=8/>N,
                                                <input id="SWLong" name="SWLong" value="{{ SWLong }}" size=8/>E<br>
                                        {% if form_error.SWLong %}
                                                <div class="error">{{ form_error.SWLong }}</div>
                                                <br>
                                        {% endif %}
                                        {% if form_error.NSWLat %}
                                                <div class="error">{{ form_error.SWLat }}</div>
                                                <br>
                                        {% endif %}

                             </td>
                            </tr>
                    </table>
                </div>
</td></tr>
</table>
