<ul class="nav nav-pills" id="timeseriesTab" >
                <li class="active"><a href="#tabtimeseriesrequired" data-toggle="tab">TimeSeries Request</a></li>
                <li ><a href="#tab2timeseriesoptions" data-toggle="tab">Plot Options </a></li>
</ul>
<div class="tab-content">
                <!----------------------------->
                <!--  TIMESERIES REQUEST         -->
                <!----------------------------->
                <div class="tab-pane active" id="tabtimeseriesrequired">
			{% include 'includes/timeseriesrequired.html'%}
		</div>
   		<!----------------------------->
                <!--   TIMESERIES OPTIONS    -->
                <!----------------------------->
                <div class="tab-pane" id="tab2timeseriesoptions">
                        {% include 'includes/timeseriescollapsibleoptions.html'%}
		</div>
   		<!----------------------------->
                <!--  TIME SERIES BUTTON    -->
                <!----------------------------->
		<table width="100%">
		    <tr>
			<td>
				<input type="submit" class="btn btn-large btn-primary pull-right" value="GET TIME SERIES"
					 form="form_map" onclick="document.getElementById('domainType').value='points';"/>
				{% if timeSeriesData %}
					 <a href="#shareLink" data-toggle="modal">Share Link</a>
			       {% endif %}
			</td>
		    </tr>
		</table>
</div>
