 <ul class="nav nav-pills" id="timeseriesTab" >
                <li class="active"><a href="#tabtimeseriesrequired" data-toggle="tab">TimeSeries Request</a></li>
                <li ><a href="#tabtimeseriesoptions" data-toggle="tab">Plot Options </a></li>
</ul>
<div class="tab-content">
                <!----------------------------->
                <!--  TIMESERIES REQUEST         -->
                <!----------------------------->
                <div class="tab-pane active" id="tabtimeseriesrequired">
                  <table id="table" class="table table-striped" width="20%" border="1">
                     <tr>
                        <td>
        			{% include 'includes/timeseriesrequired.html'%}
			</td>
		    </tr>
		</table>
		</div>
   		<!----------------------------->
                <!--   TIMESERIES OPTIONS    -->
                <!----------------------------->
                <div class="tab-pane" id="tabtimeseriesoptions">
                                       {% include 'includes/timeseriescollapsibleoptions.html'%}
		</div>
</div>
