<tr>
  <td>
       <!----------------------------->
       <!--      DOMAIN             -->
       <!----------------------------->
	   <div class="domainType" style="display:none">
	<b>Domain:</b><br>
		Select Domain:
		<select id="domainType" name="domainType" width="95%">
			{% for x,y in formLocation %}
			    <option value="{{ x }}"{% if x == domainType  %} selected {% endif %}>{{ y }}</option>
			{% endfor %}
		</select>
		{% if form_error.domainType %}
			<br>
			<div class="error">{{ form_error.domainType }}</div>
		{% endif %}
	  </div>
       <!----------------------------->
       <!--      SUBDOMAIN          -->
       <!----------------------------->
	<div class="subdomain">
	       <!----------------------------->
	       <!--      STATES             -->
	       <!----------------------------->
		{% if domainType == "states"%}
		<div class="states">
		{% else %}
		<div class="states" style="display:none">
		{% endif %}
			<br>
			 Select a State:
			 <select id="state" name="state" width="95%" class="textfeld"
				onclick="findAddress();return false"
				onchange="findAddress();return false" onfocus="">
				{% for x,y in formStates %}
				    <option value="{{ x }}" {% if x == state  %} selected {% endif %}>{{ y }}</option>
				{% endfor %}
			</select>
			{% if form_error.state %}
			    <br>
			    <div class="error">{{ form_error.state }}</div>
			{% endif %}
			<br>
		</div>
		 <!----------------------------->
	       <!--      RECTANGLE          -->
	       <!----------------------------->
		{% if domainType == "rectangle"%}
		<div class="rectangle">
		{% else %}
		<div class="rectangle" style="display:none">
		{% endif %}
			<br>Select a Rectangle:
			<table>
			    <tr>
				<td>
					<img src="images/blackrectangle.png">
				</td>
				<td>
					NE corner:<input id="NELat" name="NELat" value="{{ NELat }}" size=8 />N,
					<input id="NELong" name="NELong" value="{{ NELong }}" size=8>E<br>
					{% if form_error.NELong %}
						<div class="error">{{ form_error.NELong }}</div>
						<br>
					{% endif %}
					{% if form_error.NELat %}
						<div class="error">{{ form_error.NELat }}</div>
						<br>
					{% endif %}

					SW corner:<input id="SWLat" name="SWLat" value="{{ SWLat }}" size=8/>N,
						<input id="SWLong" name="SWLong" value="{{ SWLong }}" size=8/>E<br>
					{% if form_error.SWLong %}
						<div class="error">{{ form_error.SWLong }}</div>
						<br>
					{% endif %}
					{% if form_error.NSWLat %}
						<div class="error">{{ form_error.SWLat }}</div>
						<br>
					{% endif %}

			     </td>
			</tr>
		      </table>
		</div>
		<!----------------------------->
                <!--      POINT              -->
                <!----------------------------->
		<div class="points" id="points">
			Select Point(s):<br>
            CHECK: {{p1check}}
            {%if p1check == "checked"%}
            <div id="point1" class="point">
            {%else%}
             <div id="point1" class="point" style="display:none">
            {%endif%}
                   <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p1check" name="p1check" value="{{p1check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="1" id="check1" {{p1check}}>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.0}}.png" id="img1">
                   <input type="text" id="p1" class="pointLongLat" name="p1" value="{{p1}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="1" id="add1">
            </div>
            CHECK2:{{p2check}}
            {%if p2check == "checked"%}
            <div id="point2" class="point">
            {%else%}
            <div id="point2" class="point" style="display:none">
            {%endif%}
                    <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p2check" name="p2check" value="{{p2check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="2" id="check2" {{p2check}}>
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.1}}.png" id="img2">
                   <input type="text" id="p2" class="pointLongLat" name="p2" value="{{p2}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="2" id="add2">
            </div>
            {%if p3check == "true"%}
            <div id="point3" class="point">
            {%else%}   
            <div id="point3" class="point" style="display:none">
            {%endif%}
                   <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p3check" name="p3check" value="{{p3check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="3" id="check3" checked="{{p3check}}">
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.2}}.png" id="img3">
                   <input type="text" id="p3" class="pointLongLat" name="p3" value="{{p3}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="3" id="add3">
            </div> 
            {%if p4check == "true"%}
            <div id="point4" class="point">
            {%else%}
            <div id="point4" class="point" style="display:none">
            {%endif%}
                   <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p4check" name="p4check" value="{{p4check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="4" id="check4" checked="{{p4check}}">
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.3}}.png" id="img4">
                   <input type="text" id="p4" class="pointLongLat" name="p4" value="{{p4}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="4" id="add4">
            </div> 
            {%if p5check == "true"%}
            <div id="point5" class="point">
            {%else%}  
            <div id="point5" class="point" style="display:none">
            {%endif%}
                   <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p5check" name="p5check" value="{{p5check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="5" id="check5" checked="{{p5check}}">
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.4}}.png" id="img5">
                   <input type="text" id="p5" class="pointLongLat" name="p5" value="{{p5}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="5" id="add5">
            </div> 
            {%if p6check == "true"%}
            <div id="point6" class="point">
            {%else%}
            <div id="point6" class="point" style="display:none">
            {%endif%}
                   <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p6check" name="p6check" value="{{p6check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="6" id="check6" checked="{{p6check}}">
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.5}}.png" id="img6">
                   <input type="text" id="p6" class="pointLongLat" name="p6" value="{{p6}}"/><br />
                   Add another point: <input type="checkbox" class='addPoint' value="6" id="add6">
            </div> 
            {%if p7check == "true"%}
            <div id="point7" class="point">
            {%else%}  
            <div id="point7" class="point" style="display:none">
            {%endif%}
                    <!--hidden input to keep track of which markers are checked-->
                   <input type="hidden" id="p7check" name="p7check" value="{{p7check}}">
                   <input type="checkbox" name="point" class="pointCheck" value="7" id="check7" checked="{{p7check}}">
                   <img src="http://www.google.com/mapfiles/ms/micons/{{marker_colors.6}}.png" id="img7">
                   <input type="text" id="p7" class="pointLongLat" name="p7" value="{{p7}}"/><br />
            </div> 
            <!--
			{% for c in marker_colors %}
			{% if loop.index == 1 %}
			    <div id="point{{loop.index}}" class="point">
			       <input type="checkbox" name="point" class="pointCheck" value="{{loop.index}}" id="check{{loop.index}}" checked="p{{loop.index}}check">
			       <img src="http://www.google.com/mapfiles/ms/micons/{{c}}.png" id="img{{loop.index}}">
			       <input type="text" id="{{loop.index}}" class="pointLongLat" name="pointLongLat" value="{{ pointsLongLat }}"/>
			       +<input type="checkbox" class='addPoint' value="{{loop.index}}" id="add{{loop.index}}">
			    </div>
			{% else %}
			    <div id="point{{loop.index}}" class="point" style="display:none">
				<input type="checkbox" name="point" class="pointCheck" value="{{loop.index}}" checked="p{{loop.index}}check">
				<img src="http://www.google.com/mapfiles/ms/micons/{{c}}.png" id="img{{loop.index}}">
				<input type="text" id="{{loop.index}}" class="pointLongLat" name="pointLongLat"/>
				{% if loop.revindex != 1 %}
				+<input type="checkbox" class='addPoint' value="{{loop.index}}">
				{% endif %}
			    </div>
			{% endif %}
			{% endfor %} -->
			{%if form_error.pointsLongLat%}
			    <br><div class="error">{{ form_error.pointsLongLat}}</div>
			{%endif%}
        </div><!--end class=points-->
			<input type="hidden" id="pointsLongLat" name="pointsLongLat" value="" /><br>
               </div><!--end class=points-->
  </td>
</tr>
<tr>
   <td>
	  <b>Time Series:</b><br>
	<select id="timeSeriesCalc" name="timeSeriesCalc" class="timeSeriesCalc" width="95%">
		{% for x,y in formTimeSeriesCalc %}
		    <option value="{{ x }}" {% if x == timeSeriesCalc  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
	</select>
   </td>
</tr>
<tr>
  <td>
	   <div class="daytimeperiod">
		  Start Date:
		  <input type="text" id="dateStartTS" value="{{ dateStart }}" name="dateStart" class="dateStart">
		  <br>
		  End Date:
		  <input type="text" id="dateEndTS" value="{{ dateEnd }}" name="dateEnd" class="dateEnd">
	   </div>
	   <div class="seasontimeperiod" style="display:none">
		 Start Day:
		<select id="monthStart" name="monthStart" class="monthStart" width="95%">
		{% for x,y in formMonth %}
		    <option value="{{ x }}" {% if x == monthStart  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select>
		 <select id="dayStart" name="dayStart" class="dayStart" width="95%">
		{% for x,y in formDay %}
		    <option value="{{ x }}" {% if x == dayStart  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select>
		  <br>
		  End Day:
		 <select id="monthEnd" name="monthEnd" class="monthEnd" width="95%">
		{% for x,y in formMonth %}
		    <option value="{{ x }}" {% if x == monthEnd  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select>
		 <select id="dayEnd" name="dayEnd" class="dayEnd" width="95%">
		{% for x,y in formDay %}
		    <option value="{{ x }}" {% if x == dayEnd  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select><br>
		Year Range:
		 <select id="yearStart" name="yearStart" class="yearStart" width="95%">
		{% for x,y in formYear %}
		    <option value="{{ x }}" {% if x == yearStart  %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select>-
		 <select id="yearEnd" name="yearEnd" class="yearEnd" width="95%">
		{% for x,y in formYear %}
		    <option value="{{ x }}" {% if x == yearEnd %} selected {% endif %}>{{ y }}</option>
		{% endfor %}
		</select><br>
	  </div>
 </td>
</tr>
