<script type="text/javascript">
    //Script to generate highcharts time series graph
    var timeSeriesData = {{ timeSeriesGraphData |safe}};
    var variable = "{{ variable }}";
    var title = "{% if timeSeriesCalc=='days' %}Daily {%else%} {%endif%}{{ variableShortName }}";
    var axis_min = null;
    var y_label = "{{ colorbarLabel }}";
    if (variable == 'vs' || variable == 'pr'){
    axis_min = 0;
    }
    //define chart data
    var series_data = [],s,d;
    for (var k=0;k<timeSeriesData.length;k++){
    d = timeSeriesData[k].Data;
    s = {
        name:timeSeriesData[k].LongLat,
        color:timeSeriesData[k].MarkerColor,
        data:d
    }
    series_data.push(s);
    }
    //HIGH CHARTS
    $('#container').highcharts({
    title: {
    text: title
    },
    //XAXIS
    xAxis: {
    gridlineWidth: 1,
    type:'datetime',  
    type:'datetime',     
    title: {
        text: 'Date'
    },
    labels: {
        style: {
        fontSize: '11px'
        },
        formatter: function() {
        return Highcharts.dateFormat('%m/%e/%y',this.value.toFixed(2));
        }
    }
    },
    //YAXIS
    yAxis: {
    gridLineWidth: 1,
    title: {
        text: y_label
    },
    min: axis_min,
    tickLength: 5,
    tickWidth: 1,
    tickPosition: 'outside',
    lineWidth:1,
    labels: {
        style: {
        fontSize: '11px'
        }
    }
    },
    //LEGEND
    legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle',
    borderWidth: 0
    },
    //TOOLTIP
    tooltip: {
    formatter: function() {
        return  '<b>Long/Lat: ' + this.series.name +'</b><br/>' +
        Highcharts.dateFormat('%m/%e/%y',new Date(this.x)) + ': '+ this.y;
    }
    },
    series: series_data
});
</script>
