{% extends "base.php" %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
			About Metrics 
                </h3>
            </div>
        </div>
	<!----------------------------->
        <!--      PAGINATION         -->
        <!----------------------------->
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="active">
                        <a href="#PDSIdescription" data-toggle="tab">PDSI</a>
                    </li>
                    <li>
                        <a href="#SPISPEIdescription" data-toggle="tab">SPI/SPEI</a>
                    </li>
                    <li>
                        <a href="#ETdescription" data-toggle="tab">ET</a>
                    </li>
                    <li>
                        <a href="#EDDIdescription" data-toggle="tab">EDDI</a>
                    </li>
                    <li>
                        <a href="#NDVIdescription" data-toggle="tab">NDVI</a>
                    </li>
                    <li>
                        <a href="#EVIdescription" data-toggle="tab">EVI</a>
                    </li>
                    <li>
                        <a href="#NBRTdescription" data-toggle="tab">NBRT</a>
                    </li>
                    <li>
                        <a href="#BAIdescription" data-toggle="tab">BAI</a>
                    </li>
                    <li>
                        <a href="#NDWIdescription" data-toggle="tab">NDWI</a>
                    </li>
                </ul>
            </div>
        </div>

	<div class="tab-content">
		<div class="tab-pane active" id="PDSIdescription">
			<!----------------------------->
			<!--      PDSI           -->
			<!----------------------------->
			<div class="row">
			    <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/PDSI_description.html'%}
			    </div>
			    <div class="col-md-5 img-portfolio">
			    </div>
			</div>
		</div>
		<div class="tab-pane" id="SPISPEIdescription">
			<!----------------------------->
			<!--      SPISPEI             -->
			<!----------------------------->
			<div class="row">
			    <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/SPISPEI_description.html'%}
			    </div>
			    <div class="col-md-5 img-portfolio">
				<p>
				 <img src="images/SPEI.png" width="100%">
				<br>
				Example of SPEI for California from 1900 - 2010
				showing periods of drought(red SPEI<-1) and pluvial(blue SPEI>1).
				</p>
			    </div>
			</div>
		</div>
		<div class="tab-pane" id="ETdescription">
                        <!----------------------------->
                        <!--        ET                -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/ET_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>
                <div class="tab-pane" id="EDDIdescription">
                        <!----------------------------->
                        <!--        EDDI                -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/EDDI_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>
		<div class="tab-pane" id="NDVIdescription">
                        <!----------------------------->
                        <!--      SPISPEI             -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/NDVI_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
				<p>
                                 <img src="images/NDVIanomaly.jpg" width="100%">
				  <br>
					The above image shows the NDVI anomaly in the U.S. for August 1993.
                                        In that year, heavy rain in the Northern Great Plains
                                        (North and South Dakota, Alberta, and Saskatchewan) led to flooding
                                        in the Missouri River. The resulting exceptionally lush vegetation
                                        appears as a positive anomaly (green).
                                        Concurrently, in the Eastern U.S., rainfall was very low, and the region
                                        exhibited a strong negative anomaly (dark red).
					(Credit: http://earthobservatory.nasa.gov/)</p>
                            </div>
                        </div>
                </div>
		<div class="tab-pane" id="EVIdescription">
                        <!----------------------------->
                        <!--      EVI               -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/EVI_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>

		 <div class="tab-pane" id="NBRTdescription">
                        <!----------------------------->
                        <!--      NBRT             -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/NBRT_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>
		 <div class="tab-pane" id="BAIdescription">
                        <!----------------------------->
                        <!--      BAI               -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/BAI_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>
		 <div class="tab-pane" id="NDWIdescription">
                        <!----------------------------->
                        <!--      NDWI             -->
                        <!----------------------------->
                        <div class="row">
                            <div class="col-md-7 img-portfolio">
                                  {% include 'descriptions/NDWI_description.html'%}
                            </div>
                            <div class="col-md-5 img-portfolio">
                            </div>
                        </div>
                </div>



	</div>

{% endblock %}
