<!-- Modal -->
<div class="modal fade" id="aboutMetricsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!----------------------------->
        <!--     HEADER             -->
        <!----------------------------->
        <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h2 class="modal-title" id="myModalLabel" style="color:red">About Metrics</h2>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 img-portfolio">
			  <li>Vegetation: NDVI,EVI</li>
			  <li>Snow: NDSI</li>
			  <li>Surface Water: NDWI</li>
			  <li>Soil Moisture: PDSI</li>
			  <li>Precipitation: PPT,SPI</li>
			  <li>Evapotranspiration: PET,SPEI,EDDI</li>
			  <li>Water Balance: SPEI</li>
                    </div>
                </div>
        	<!----------------------------->
       </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div>
