<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello gae task queue with jQuery UI Progressbar</title>
    <script src="/static/external/jquery/jquery.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <link href="/static/jquery-ui.css" rel="stylesheet">
</head>
<body>
    <form action="/" method="POST">
        <input type="text"  name="key" id="key">
        <input type="submit"  value="start gae task">
    </form>

    {% for counter in myresults %}
        <li>
         {{counter}}
        </li>
    {% endfor %}

    <div id="progressbar"></div>
    <div id="dbg"></div>

<script> 

    var intervalHandler = 0;

    function refresh() 
    {
        $.ajax(
        {
            type: 'GET',
            url: '/progress',
            success: function(data) 
            {   
                var progressVal = $.parseJSON( data );
                document.getElementById("dbg").innerHTML = progressVal;   

                if( progressVal > 99 )
                {
                    $( "#progressbar" ).progressbar( { value: 100 });
                    alert("Finish");

                    clearInterval(intervalHandler); // stop the interval
                    intervalHandler = null;

                    //window.location.reload(true);// will perform a post request,  but we need a GET request
                    var loc = window.location;
                    window.location = loc.protocol + '//' + loc.host + loc.pathname + loc.search;
                 }
                else
                {
                    $( "#progressbar" ).progressbar( { value: progressVal });
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Request Error !!!!");
            }
        });
    };

{% if progressScriptActive %}
    $(function()
    {
        intervalHandler = setInterval("refresh()", 2000);
    });
{% endif %}
</script>
</body>
</html>
