<!-- Modal -->
<div class="modal fade" id="droughtHome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!----------------------------->
        <!--     HEADER             -->
        <!----------------------------->
        <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">Google Earth Drought</h4>
        </div>
        <div class="modal-body">
		<!----------------------------->
		<!--     HOME                -->
		<!----------------------------->
		<div class="row">
                    <div class="col-md-12 img-portfolio">
                  	<img src="images/drought.jpg" width="100%">
			<br>
                                  {% include 'descriptions/home_description.html'%}

                    </div>
                </div>
        	<!----------------------------->
       </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div>
