<!-- Modal -->
<div class="modal fade" id="shareLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Share Link or Map</h4>
            </div>
            <div class="modal-body">
				You can share these results with others by directing them to the following link: <br><br>
			 	<input id="shareLink" name="shareLink" value="{{ shareLink }}" size=100 readonly />
            </div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div>
